{% assign interests = site.data.data.interests %}
{% if interests %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Research Interests
  </h2>

  {% for interest in interests %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ interest.title }}</h3>
      </div><!--//upper-row-->

    </div><!--//meta-->

    {% if interest.details %}
    <div class="details">
      {{ interest.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

